@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn:focus {
  box-shadow: none;
}

.btn-round {
  border-radius: 10px;
}

.btn-det {
  border: none;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 10px 13px;
  outline: none;
  box-shadow: none;
  background-color: #2B307E;
  color: white !important;
  font-size: 10px !important;
}

.btn-det:hover, .btn-det-gr:hover {
  background-color: black !important;
}

.btn-det-gr {
  border: none;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 10px 13px;
  outline: none;
  box-shadow: none;
  background-color: red;
  color: white !important;
  font-size: 10px !important;
}

.btn-sgnup {
  border: none;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 5px 13px;
  outline: none;
  box-shadow: none;
  background-color: red;
  color: white !important;
}

.btn-sgnup:hover {
  background-color: black !important;
}

.btn-lgn {
  border: none;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 5px 13px;
  outline: none;
  box-shadow: none;
  background-color: #2B307E;
  color: white !important;
}

.btn-lgn:hover {
  background-color: black !important;
}

.btn-danger {
  padding: 6px 12px;
}

.btn-primary {
  border: none;
  border-radius: 5px;
  padding: 10px 13px;
  outline: none;
  background: #2B307E !important;
  border: none !important;
  color: white !important;
  padding: 6px 12px !important;
}

.bg-gr:hover,
.btn-primary:hover,
.btn-primary:focus {
  background-color: black !important;
  color: white !important;
  border: none !important;
  transform: scale(1.1);
  outline: none;
}

:root {
  --main-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body li {
  list-style: none;
}

.main {
  display: grid;
  grid-template-columns: 16% 84%;
  box-sizing: border-box;
}
.main .gd-rt {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(221, 217, 217, 0.231372549);
}
.main .gd-rt .rep {
  justify-content: space-between;
}

.lgn-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  width: 100vw;
}
.lgn-main .lgn-gd-lft {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}
.lgn-main .lgn-gd-lft h3 {
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  color: #2B307E;
  margin-bottom: 50px;
}
.lgn-main .lgn-gd-lft form {
  width: 65%;
  height: 60%;
  margin: auto;
}
.lgn-main .lgn-gd-rt {
  width: 100%;
  height: 100%;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.s-active {
  display: none;
}

.main-sbar {
  height: 100vh;
  width: 100%;
  background-color: rgba(221, 217, 217, 0.231372549);
  position: sticky;
  top: 0px;
}

.sidebar {
  /*width: 265px;*/
  /*height: 100vh;*/
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  width: 99%;
}

.sb-bdy {
  width: 100%;
  margin-bottom: 4px;
}

.pimg {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
  align-items: center;
  flex-direction: column;
}
.pimg h3 {
  margin-top: 10px;
  color: #1b2e49 !important;
}

.pimg img {
  width: 35%;
  border-radius: 50px;
}

.sb-ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
  padding-top: 25px;
}
.sb-ul a {
  width: 74%;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 2px;
}
.sb-ul a h3 {
  letter-spacing: 0px;
  font-size: 15px;
  margin: 0;
}
.sb-ul a i {
  width: 26px;
}
.sb-ul a:hover {
  background-color: rgba(43, 48, 126, 0.2509803922);
  border-radius: 8px;
  padding-left: 10px;
}

.sb-ul2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding-top: 25px;
  position: relative;
  bottom: -165px;
}
.sb-ul2 a {
  width: 74%;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 2px;
}
.sb-ul2 a:hover {
  background-color: rgba(43, 48, 126, 0.2509803922);
  border-radius: 8px;
  padding-left: 10px;
}
.sb-ul2 a h3 {
  letter-spacing: 0px;
  font-size: 15px;
  margin: 0;
}
.sb-ul2 a i {
  width: 26px;
}

.li {
  display: flex;
  align-items: center;
  color: black;
}

.head {
  width: 100%;
  height: 50px;
}
.head .cont {
  height: 100%;
}
.head .cont i:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.head .cont .h5 {
  margin: 0;
  color: #1b2e49;
}
.head .cont .h5 img {
  width: 20px;
  height: 20px;
}
.head .cont ul {
  width: 45%;
  color: #526484;
}
.head .cont ul li:hover {
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: #ffffff !important;
}

.db-content {
  display: grid;
  grid-template-columns: 75% 25%;
}
.db-content .db-content-lft {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.db-content .db-content-lft canvas {
  width: 750px !important;
  max-width: 750px !important;
  margin-top: 50px;
}
.db-content .db-content-lft .card-body div:nth-child(1) {
  height: 24px;
}
.db-content .db-content-lft .card-body div:nth-child(2) {
  height: 24px;
  width: 55px;
  padding: 2px 5px;
}
.db-content .db-content-lft .card-body img {
  width: 190px;
}
.db-content .db-content-lft .card-body h3 {
  margin-top: 30px;
  width: 125px;
}
.db-content .db-content-lft .card-body .cb-1, .db-content .db-content-lft .card-body .cb-2, .db-content .db-content-lft .card-body .cb-3 {
  border-radius: 5px;
}
.db-content .db-content-lft .card-body .cb-1 {
  background-color: rgba(43, 48, 126, 0.33) !important;
}
.db-content .db-content-lft .card-body .cb-2 {
  background-color: rgba(154, 158, 241, 0.5) !important;
}
.db-content .db-content-lft .card-body .cb-3 {
  background-color: rgba(246, 215, 140, 0.62) !important;
}
.db-content .db-content-lft .db-crd1, .db-content .db-content-lft .db-crd2, .db-content .db-content-lft .db-crd3 {
  width: 230px;
  height: 200px;
  border-radius: 35px !important;
}
.db-content .db-content-lft .db-crd1 h5, .db-content .db-content-lft .db-crd2 h5, .db-content .db-content-lft .db-crd3 h5 {
  margin: 0;
  margin-left: 5px;
}
.db-content .db-content-lft .db-crd1 {
  background-color: rgba(43, 48, 126, 0.2) !important;
  color: black;
}
.db-content .db-content-lft .db-crd2 {
  background-color: rgba(154, 158, 241, 0.3607843137);
  color: black;
}
.db-content .db-content-lft .db-crd3 {
  background-color: rgba(246, 215, 140, 0.3607843137);
  color: black;
}
.db-content .db-content-rt {
  border-radius: 35px;
  background-color: rgba(221, 217, 217, 0.231372549);
}
.db-content .db-content-rt div .card {
  margin-bottom: 10px;
}
.db-content .db-content-rt h4 {
  padding: 10px 45px;
  color: black;
}
.db-content .db-content-rt p {
  margin: 0;
}
.db-content .db-content-rt img {
  width: 50px;
  border-radius: 25px;
}
.db-content .db-content-rt .card {
  width: 94%;
  background-color: rgba(221, 217, 217, 0.231372549);
  border: none;
  border-radius: 18px;
  margin: auto;
}
.db-content .db-content-rt .card p {
  font-weight: 600;
}
.db-content .db-content-rt .card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.db-content .db-content-rt .db-img {
  margin-right: 10px;
}

.bg-drk {
  background-color: #000000 !important;
}

.bg-gr {
  background-color: #0CF81D;
  border: none !important;
}

.fs-16px {
  font-size: 16px !important;
}

.sec-main {
  background-image: url("../images/food.jpg ");
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  background-size: cover;
}
.sec-main .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tbl-con {
  margin-top: 50px;
}
.tbl-con .ord-sear {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-bottom: 30px;
}
.tbl-con .ord-sear input {
  outline: none;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #526484;
}
.tbl-con h3 {
  color: #2B307E;
  margin-bottom: 20px;
}
.tbl-con table {
  width: 90%;
}
.tbl-con table tbody {
  --bs-table-striped-bg: none;
}
.tbl-con table tbody tr .asgn {
  width: 95px;
}
.tbl-con table tbody tr:hover {
  transform: scale(1.009);
}

.det-modal {
  display: grid;
  grid-template-rows: 50px 1fr;
}
#lgn-person .modal-dialog {
  top: 14vw;
}

.w-95px {
  width: 95px !important;
}

.w-120px {
  width: 120px !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.mt-180px {
  margin-top: 180px !important;
}

#sgn-up h3 {
  color: #2B307E;
}

.crd-fd {
  width: 14rem;
  margin-bottom: 40px;
  border-radius: 30px !important;
}
.crd-fd img {
  width: 220px;
  height: 200px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.crd-fd:hover {
  cursor: pointer;
}
.crd-fd:hover img {
  transform: scale(1.05);
}

.container.tbl-con.col-12.chef {
  padding: 0px 25px;
}

.chef .dpatch {
  width: 120px;
}
.chef .card {
  background-color: #ffffff;
  margin-top: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
}
.chef .card .crd-prnt:hover {
  transform: scale(1.01);
  transition: 0.3s;
  cursor: pointer;
}
.chef .card .crd {
  background-color: #ffffff;
}
.chef .card .card-body a {
  margin-left: 15px;
  font-size: 15px;
}
.chef .crd-chld {
  display: none;
}

.active {
  display: block !important;
}

.gd-rt .tbl-con .del-crd {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.trk-mod {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.trk-mod h6 {
  margin-bottom: 20px;
}

#track .modal-dialog {
  position: absolute;
  top: 18vh;
  left: 35vw;
  width: 50vw;
  height: 60vh;
}
#track .modal-dialog .modal-content {
  height: 100%;
}
#track .modal-dialog .modal-content .modal-header h3 {
  color: #2B307E;
}

@media (max-width: 375px) {
  .sidebar {
    width: 96%;
  }
  .sidebar .fa-lg {
    font-size: 1em;
  }
  .sidebar .sb-bdy .pimg {
    height: 110px;
  }
  .sidebar .sb-bdy .pimg img {
    width: 35px;
    height: 35px;
  }
  .sidebar .sb-bdy .pimg h5 {
    font-size: 10px;
  }
  .sidebar .sb-ul2, .sidebar .sb-ul {
    box-sizing: border-box;
    padding-left: 11px;
  }
  .sidebar .sb-ul2 {
    bottom: -210px;
  }
  .sidebar h3 {
    display: none;
  }
  .gd-rt .tbl-con .ser-ord {
    width: 135px;
    font-size: 10px;
  }
  .head .cont ul li {
    display: flex;
  }
  .head .cont ul li .btn-lgn {
    padding: 3px 10px;
    font-size: 10px;
    margin-right: 3px;
  }
  .head .cont ul li .btn-sgnup {
    padding: 3px 5px;
    font-size: 10px;
  }
  table thead {
    font-size: 50%;
  }
  table tbody {
    font-size: 50%;
  }
  table tbody tr .asgn {
    width: 65px !important;
    font-size: 5px !important;
  }
  table tbody tr .btn-det {
    font-size: 6px !important;
    width: 65px !important;
  }
  .lgn-main {
    grid-template-columns: 1fr;
  }
  .lgn-main .lgn-gd-rt {
    display: none;
  }
  .main .gd-rt .head {
    width: 100%;
  }
  .main .gd-rt h3 {
    font-size: 15px;
    box-sizing: border-box;
  }
  .main .gd-rt .rep {
    justify-content: center;
  }
  .chef {
    padding: 0 !important;
  }
  .chef .card {
    font-size: 60%;
  }
  .chef .card small {
    font-size: 60%;
  }
  .chef .card .card-body .dpatch {
    width: 65px;
    height: 23px;
    padding-top: 7px;
    font-size: 6px !important;
  }
  .chef .card .card-body a {
    margin-left: 10px;
    font-size: 8px;
  }
  .crd-prnt h6 {
    font-size: 70%;
  }
  .db-content {
    grid-template-columns: 1fr;
  }
  .db-content .db-content-lft {
    flex-direction: column;
  }
  .db-content .db-content-lft .card {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .db-content .db-content-lft canvas {
    width: 240px !important;
    height: 250px !important;
    margin-left: auto;
    margin-right: auto;
  }
  button.btn-lgn.mr-3 {
    font-size: 9px;
  }
  .ord-sear h3 {
    margin-bottom: 0px;
    margin-top: 5px;
  }
  .ser-del {
    font-size: 10px;
    width: 135px;
  }
}
.w-1 {
  width: 100vw !important;
}

.sideNavActive {
  background-color: rgba(43, 48, 126, 0.2509803922);
  border-radius: 8px;
  padding-left: 10px !important;
}

/*# sourceMappingURL=index.css.map */
