//$primaryCol:#54ff01;
$primaryCol:#0CF81D;
//$primaryHoverCol:#7dd62a;
$primaryHoverCol:#0CF81D;
$secondaryCol:#000000;
$secondaryHoverCol:#333333;
$drkgrey:#2b307e12;
$alternateCol:#2B307E;
$alternateHoverCol:#1f235b;
$liColor:#1b2e49;
$lightCol:#C4C4CC;
$lightCol3:#dddddd;
$lightCol4:#f7f7f7;
$lightCol5:#d1dae2;
$redCol:#ff0000;
$lightCol2:#E9EBEF;
$darkGryCol:#999999;
$ulColor:#526484;
//$alternateCol:#004cff;
$whiteCol:#ffffff;
$bcolor:#fafafa;
$redCool:#ff5a65;
//$greenCol:#89FB20;
$greenCol:#0CF81D;
//Gradients
//-----------
$primaryGr:linear-gradient($primaryCol, $whiteCol);